
<div class="form_to_select_drink hidden ">
  <%= simple_form_for([@command, @dishcommand],remote: true) do |f| %>
    <%= f.input :drink_id, :class => "input_select_drink", :value => ""%>
    <%= f.submit "done", :class => "submit_order_dish" %>
  <% end %>
</div>


<div class="container_all_drinks ">
  <h1 id="title"> Choisissez vos boissons</h1>
  <div class="drinks_per_category">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <h1>Soft</h1>
        <% @command.table.restaurant.menu.drinks.where("category = 'soft'").in_groups_of(3, false) do |group| %>
        <% if group === @command.table.restaurant.menu.drinks.where("category = 'soft'").first(3) %>
          <div class="carousel-item active ">
        <% else %>
           <div class="carousel-item ">
        <%  end %>
            <div class="drink_per_5">
              <% group.each do |drink| %>
                <div class="card">
                  <%= image_tag(drink.photo, height: '75', width: '75') %>
                  <div class="card_info">
                    <h2 class="soft" data-id="<%= drink.id%>" data-click="0" ><%= drink.name%></h2>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="drinks_per_category">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <h1>Alcool</h1>
        <% @command.table.restaurant.menu.drinks.where("category = 'alcool'").in_groups_of(3, false) do |group| %>
          <% if group === @command.table.restaurant.menu.drinks.where("category = 'alcool'").first(3) %>
            <div class="carousel-item active ">
          <% else %>
             <div class="carousel-item ">
          <%  end %>
            <div class="drink_per_5">
              <% group.each do |drink| %>
                <div class="card">
                  <%= image_tag(drink.photo, height: '75', width: '75') %>
                  <div class="card_info">
                    <h2 class="soft" data-id="<%= drink.id%>" data-click="0" ><%= drink.name%></h2>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="drinks_per_category">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <h1>Boisson Chaudes</h1>
        <% @command.table.restaurant.menu.drinks.where("category = 'HotDrink'").in_groups_of(3, false) do |group| %>
          <% if group === @command.table.restaurant.menu.drinks.where("category = 'HotDrink'").first(3) %>
            <div class="carousel-item active ">
          <% else %>
             <div class="carousel-item ">
          <%  end %>
              <div class="drink_per_5">
                <% group.each do |drink| %>
                  <div class="card">
                    <%= image_tag(drink.photo, height: '75', width: '75') %>
                    <div class="card_info">
                      <h2 class="soft" data-id="<%= drink.id%>" data-click="0" ><%= drink.name%></h>
                      </div>
                  </div>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>

      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <%= link_to "Valider", command_path(@command), :class => "btn btn-primary"  %>

</div>

<%= link_to "Valider", command_path(@command)  %>
