
<div class="drinks_category">
  <h1> Que souhaitez-vous boire ?</h1>
  <li>
    <ul id="softs">Soft</ul>
    <ul id="alcools">Alcool</ul>
    <ul id="hot_drinks">Boissons chaudes</ul>
  </li>
</div>

<div class="all_softs hidden ">
  <% @command.table.restaurant.menu.appetizers.each do |appetizer| %>
    <h1 class="soft" data-id="<%= appetizer.id%>" ><%= appetizer.name%> <%  %></h1>
  <% end %>
</div>

<div class="form_to_select_drink hidden">
  <%= simple_form_for [@command, @dishcommand] do |f| %>
    <%= f.input :appetizer_id, :class => "input_select_drink", :value => "1"%>
    <%= f.submit "done", :class =>"submit_order_dish" %>
  <% end %>
</div>



