<div class="container">
  <%= simple_form_for @restaurant,remote: false do  |f| %>
     <%= f.input :name %>
     <%= f.input :address %>
     <%= f.input :phone_number %>
     <%= f.input :email %>
     <%= f.input :description %>
     <%= f.input :number_of_table %>
     <%= f.submit "sousmettre"%>
  <% end%>
</div>

